[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = False
timeout = 30
stdout_callback = default
result_format = yaml
interpreter_python = /usr/bin/python3
retry_files_enabled = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o UserKnownHostsFile=/dev/null
